<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaJ3J2_j0Jx5DU52vKEqVqx6nDWuVmlws</string>
	<key>GCM_SENDER_ID</key>
	<string>1068585458918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chatio.com.Chats</string>
	<key>PROJECT_ID</key>
	<string>chats-ca53d</string>
	<key>STORAGE_BUCKET</key>
	<string>chats-ca53d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068585458918:ios:325621476c00a54d606f27</string>
</dict>
</plist>